<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Student">
	<insert id="insert" parameterType="Student"
		useGeneratedKeys="true" keyProperty="regno">
		insert into
		student(stdname,total,dob) values(#{stdname},#{total},#{dob})
	</insert>
	<update id="update" parameterType="Student">
		update student set stdname =
		#{stdname}, total = #{total}, dob = #{dob} where regno = ${regno};
	</update>

	<delete id="delete" parameterType="int">
		delete from student where
		regno = #{regno};
	</delete>

	<resultMap type="Student" id="stdResult"> <!-- map columns to data members -->
		<id column="regno" property="regno" />
		<result property="stdname" column="stdname" />
		<result property="total" column="total" />
		<result property="dob" column="dob" />
	</resultMap>

	<select id="getAll" resultMap="stdResult"> <!-- to get all records list -->
		select * from student;
	</select>

	<select id="getStudentByRegno" resultMap="stdResult"> <!-- to get particular record -->
		select * from student where regno = #{regno};
	</select>

</mapper>